html {
  /**
 * * Design Tokens
 *  * These are the  Tokens need to used across the project so that changing a abosolute value here will refelect in entire components.
 */

  --size-xs: 0.25rem;
  --size-s: 0.5rem;
  --size-m: 1rem;
  --size-l: 1.5rem;

  /* Spacing */
  --size-spacing-xxs: 0.25rem; /* 4px  */
  --size-spacing-xs: 0.5rem; /* 8px  */
  --size-spacing-s: 0.75rem; /* 12px  */
  --size-spacing-m: 1rem; /* 16px  */
  --size-spacing-l: 1.25rem; /* 20px  */
  --size-spacing-xl: 1.5rem; /* 24px  */
  --size-spacing-xxl: 1.75rem; /* 28px  */
  --size-spacing-xxxl: 2rem; /* 32px  */
  --size-spacing-h: 2.5rem; /* 40px  */

  /* Border Width */
  --size-border-width-s: 0.063rem; /* 1px  */
  --size-border-width-m: 0.125rem; /* 2px  */
  --size-border-width-l: 0.188rem; /* 3px  */

  /* Border Radius */
  --size-border-radius-tiny: 0.063rem; /* 1px */
  --size-border-radius-xxs: 0.125rem; /* 2px */
  --size-border-radius-xs: 0.25rem; /* 4px */
  --size-border-radius-s: 0.375rem; /* 6px */
  --size-border-radius-m: 0.5rem; /* 8px */
  --size-border-radius-l: 0.625rem; /* 10px */
  --size-border-radius-xl: 0.75rem; /* 12px */
  --size-border-radius-xxl: 0.875rem; /* 14px */
  --size-border-radius-h: 1rem; /* 16px */

  /* Text sizes */
  --size-font-xs: 0.625rem; /* 10px */
  --size-font-s: 0.75rem; /* 12px */
  --size-font-m: 0.875rem; /* 14px */
  --size-font-l: 1rem; /* 16px */

  /* Heading sizes */
  --size-heading-xxxl: 6rem; /* 96px */
  --size-heading-xxl: 3.75rem; /* 60px */
  --size-heading-xl: 3rem; /* 48px */
  --size-heading-l: 2.25rem; /* 36px */
  --size-heading-m: 1.5rem; /* 24px */
  --size-heading-s: 1.25rem; /* 20px */

  /* Font Weights */
  --font-weight-xxs: 100;
  --font-weight-xs: 200;
  --font-weight-s: 400;
  --font-weight-m: 500;
  --font-weight-l: 600;
  --font-weight-xl: 700;

  /* Box Shadows */
  --shadow-xs: 0rem 0.063rem 0.125rem rgba(34, 34, 34, 0.15); /* 0px 1px 2px */
  --shadow-s: 0rem 0.25rem 0.375rem rgba(34, 34, 34, 0.12); /*  0px 4px 6px */
  --shadow-m: 0rem 0.375rem 0.75rem rgba(34, 34, 34, 0.12); /* 0px 6px 12px */
  --shadow-l: 0rem 0.5rem 1rem rgba(34, 34, 34, 0.12); /* 0px 8px 16px */
  --shadow-xl: 0rem 1rem 2rem rgba(34, 34, 34, 0.12); /* 0px 16px 32px */

  /* Colours */
  /* Gray Colour Shades */
  --color-gray-50: #fcfcfc;
  --color-gray-100: #fafafa;
  --color-gray-200: #f4f4f5;
  --color-gray-300: #efeff1;
  --color-gray-400: #c9c9cf;
  --color-gray-500: #9e9ea9;
  --color-gray-600: #656571;
  --color-gray-700: #4d4d56;
  --color-gray-800: #323239;
  --color-gray-900: #1a1a1d;

  /* Purple Colour Shades */
  --color-purple-50: #eeeeff;
  --color-purple-100: #e0e7ff;
  --color-purple-200: #c7c8fe;
  --color-purple-300: #a5a7fc;
  --color-purple-400: #8184f8;
  --color-purple-500: #6366f1;
  --color-purple-600: #4649e5;
  --color-purple-700: #3032a3;
  --color-purple-800: #2e3081;
  --color-purple-900: #1b1c4b;

  /* Red Colour Shades */
  --color-red-50: #fff0f2;
  --color-red-100: #ffe3e6;
  --color-red-200: #ffcbd4;
  --color-red-300: #ffa1b0;
  --color-red-400: #ff6c85;
  --color-red-500: #fa1f4b;
  --color-red-600: #e8164a;
  --color-red-700: #c40c3e;
  --color-red-800: #a40d3b;
  --color-red-900: #8c0f39;

  /* Yellow Colour Shades */
  --color-yellow-50: #fff9ee;
  --color-yellow-100: #fff1db;
  --color-yellow-200: #ffdca0;
  --color-yellow-300: #ffcd78;
  --color-yellow-400: #ffbf51;
  --color-yellow-500: #ffb02a;
  --color-yellow-600: #ffa916;
  --color-yellow-700: #ffa103;
  --color-yellow-800: #ee9600;
  --color-yellow-900: #d08200;

  /* Green Colour Shades */
  --color-green-50: #f0fced;
  --color-green-100: #e2fadc;
  --color-green-200: #a8ef98;
  --color-green-300: #8cea76;
  --color-green-400: #6fe554;
  --color-green-500: #52e032;
  --color-green-600: #3fcc1f;
  --color-green-700: #39bb1c;
  --color-green-800: #2f9917;
  --color-green-900: #247712;

  /* Functional Tokens */
  /*Default Colours */
  --color-primary: var(--color-purple-500);
  --color-success: var(--color-green-500);
  --color-warning: var(--color-yellow-500);
  --color-error: var(--color-red-500);
  --color-dark: var(--color-gray-900);
  --color-default: var(--color-gray-100);
  --color-disabled: var(--color-gray-300);

  --color-secondary: #00b6a4;
  --color-tertiary: #f97316;
  --color-black: #2c2c2c;
  --color-white: white;

  /* Text Colours */
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-800);
  --color-text-placeholder: var(--color-gray-500);

  /* Border Colours */
  --color-border-dark: var(--color-gray-900);
  --color-border-gray1: var(--color-gray-500);
  --color-border-gray2: var(--color-gray-400);
  --color-border-gray3: var(--color-gray-300);
  --color-border-light: var(--color-gray-200);

  --color-border-primary: var(--color-primary);
  --color-border-success: var(--color-success);
  --color-border-warning: var(--color-warning);
  --color-border-error: var(--color-error);

  /* Active State Background Colours */
  --color-active-bg-primary: var(--color-purple-50);
  --color-active-bg-success: var(--color-green-50);
  --color-active-bg-warning: var(--color-yellow-50);
  --color-active-bg-error: var(--color-red-50);
  --color-active-bg-dark: var(--color-gray-50);

  --color-accent-text: var(--color-primary);
}

body {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol,
    'Noto Color Emoji';
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
